<!--==========================
Header 
============================ -->

<div class="front-end">

    <div class="front-one">

        <h2 class="title"> Compétence Front de Yohann </h2> 

    </div>

    <div class="front-two">

        <h1> Description </h1>

    </div>

</div>


<!-- style --> 

<style>

.title {
    color : white ; 
    font-size: 35px ; 
    font-weight : bold ; 
    padding : 35px ;
}

.front-end {
    display: flex ; 
    justify-content: center;
    margin-top:600px; 
    flex-wrap: wrap;
    background-color : rgb(0, 143, 124);
    height : 450px; 
}

.front-one {
    width : 40% ; 
}

.front-two {
    width : 40% ; 
}
</style>



<!-- JS --> 

