<!--==========================
Header 
============================ -->

<div class="header-yo">

    <div class="first-me">

        <h1 class="title-me"> Yohann Durand </h1> <br/>

        <p> 
            J'ai à cœur d'aider les entreprises à trouver des solutions pour faire face à vos<br/>
            challenges tout en développant de manière professionnelle.<br/>
            <br/>
            Le développement est selon moi une histoire de partage avant tout.
            <br/>
            Ma passion et mon métier me permettent de relever les défis de demain, cela me motive à être performant et me surpasser.<br/>
        </p>
    </div>

</div>


<!-- style --> 

<style>
.first-me {
    position: fixed;
    top: 400px;
    left: 100px;
}

.title-me {
    font-size : 50px;
    text-transform: uppercase;
    color: black;
}
</style>



<!-- JS --> 

