<!--==========================
Header 
============================ -->

<div class="header-yo">

    <div class="header-one">

        <div class="first-me">

            <h1 class="title-me"> Yohann Durand </h1> <br/>

            <p> 
                J'ai à cœur d'aider les entreprises à trouver des solutions pour faire face à vos<br/>
                challenges tout en développant de manière professionnelle.<br/>
                <br/>
                Le développement est selon moi une histoire de partage avant tout.
                <br/>
                Ma passion et mon métier me permettent de relever les défis de demain,<br/>
                cela me motive à être performant et me surpasser.<br/>
            </p>
        </div>

    </div>

    <div class="header-two">

        <h1> Image moi </h1>

    </div>

</div>


<!-- style --> 

<style>
.title-me {
    font-size : 45px ; 
    color : rgb(4, 62, 58) ; 
    font-weight : bold ; 
}

.header-yo {
    display: flex ; 
    justify-content: center;
    margin-top:600px; 
    flex-wrap: wrap;
    
}

.header-one {
    width : 40% ; 
}

.header-two {
    width : 40% ; 
}
</style>



<!-- JS --> 

