<!--==========================
  Carousel
============================-->
<section id="intro">
    <div class="intro-container">
        <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

            <ol class="carousel-indicators"> </ol>

            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="carousel-background"><img src="{{ asset('build/img/intro-carousel/1.jpg') }}" alt="intro"></div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Yohann Durand</h2>
                            <p>
                                22 ans et bac +3 en programation.
                                Passionné depuis mes 15 ans. j'ai toujours l'envie d'apprendre.
                            </p>
                            <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- #intro -->

<!--==========================
    Featured Services Section
============================-->

<section id="featured-services">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 box">
                <i class="fa fa-angle-down"></i>
                <h4 class="title"><a href="">Symfony</a></h4>
                <p class="description">Symfony est mon framework de prédilection, aucun secret a son propos ne me résiste !</p>
            </div>

            <div class="col-lg-4 box box-bg">
                <i class="fa fa-angle-down"></i>
                <h4 class="title"><a href="">React</a></h4>
                <p class="description">React.js est un bon framework qui marche trés bien avec Symfony.</p>
            </div>

            <div class="col-lg-4 box">
                <i class="fa fa-angle-down"></i>
                <h4 class="title"><a href="">Ansible - Docker - Git</a></h4>
                <p class="description">Les outils de déploiement comme Ansible sont trés pratiques pour tout automatisé.</p>
            </div>

        </div>
    </div>
</section><!-- #featured-services -->