<!--==========================
  Carousel
============================-->
<section id="intro">
    <div class="intro-container">
        <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

            <ol class="carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active">
                    <div class="carousel-background"><img src="{{ asset('img/intro-carousel/1.jpg') }}" alt=""></div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Yohann Durand</h2>
                            <p>J'aide les entreprises à trouver des solutions pour faire face à vos
                                challenges tout en développant de manière professionnelle.
                            </p>
                            <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-background"><img src="{{ asset('img/intro-carousel/1.jpg') }}" alt=""></div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Yohann Durand</h2>
                            <p>PHP - JS - MySQL - Symfony - Docker - Github - React </p>
                            <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-background"><img src="{{ asset('img/intro-carousel/1.jpg') }}" alt=""></div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Yohann Durand</h2>
                            <p>En cours d'acquisition : ASP.NET MVC , Vue.js </p>
                            <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>

            <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>
</section><!-- #intro -->


<!--==========================
    Featured Services Section
============================-->

<section id="featured-services">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 box">
                <i class="fa fa-angle-down"></i>
                <h4 class="title"><a href="">Symfony</a></h4>
                <p class="description">Symfony est mon framework de prédilection, aucun secret à son propos ne me résiste !</p>
            </div>

            <div class="col-lg-4 box box-bg">
                <i class="fa fa-angle-down"></i>
                <h4 class="title"><a href="">React</a></h4>
                <p class="description">React.js est un bon framework qui marche trés bien avec Symfony.</p>
            </div>

            <div class="col-lg-4 box">
                <i class="fa fa-angle-down"></i>
                <h4 class="title"><a href="">Ansible - Docker - Git</a></h4>
                <p class="description">Les outils de déploiement comme Ansible sont très pratiques pour tout automatisés.</p>
            </div>

        </div>
    </div>
</section><!-- #featured-services -->