<!--==========================
  Clients Section
============================-->
<section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img src="{{ asset('img/clients/me.jpg') }}" class="img-fluid rounded-circle b-shadow-a" alt="">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p><span class="title-s">Nom : </span> <span>Yohann Durand</span></p>
                      <p><span class="title-s">Profile: </span> <span>Back-end Developer </span></p>
                      <p><span class="title-s">Email: </span> <span>yohanndurand76@gmail.com</span></p>
                      <p><span class="title-s">Téléphone : </span> <span>06 61 43 78 56</span></p>
                    </div>
                  </div>
                </div>
                <div class="skill-mf">
                  <strong> <p class="title-s">Skill</p>  </strong>
                  <span>Dev'Ops</span> <span class="pull-right">60%</span>

                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>

                  <span>PHP</span> <span class="pull-right">95%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>

                  <span>Symfony</span> <span class="pull-right">92%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 92%" aria-valuenow="92" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>

                  <span>Javascript & React.js</span> <span class="pull-right">50%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>

				  <span>Data Analyze</span> <span class="pull-right">75%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>

                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      Info
                    </h5>
                  </div>
                  <p class="lead">
                    J'aide les entreprises à trouver des solutions pour faire face à vos
                    challenges tout en développant de manière professionnelle.
                  </p>

                  <p class="lead">
                    Grace à mon expérience, je peux administrer vos bases de données, créer des applications web, effectuer des tests, créer des API et bien d'autre choses.
                    Avec des technologies comme Symfony, WordPress, React , Docker
                    ou encore Ansible, je suis capable de mener un projet à bien.
                    Mon esprit d'analyse me permet d'avoir un esprit critique sur mes productions ou sur un projet en général.
                  </p>

                  <p class="lead">
                    Je peux aider à développer de manière professionnelle des projets, effectuer l'accompagnement de choix techniques. J'accorde beaucoup d'importance au suivi des technologies.
                    Apprendre fait partie du métier et j'aime cela.
                  </p>

                  <p class="lead">
                    Le développement est selon moi une histoire de partage avant tout. La communication et l'entraide sont primordiaux. Travailler en équipe est idéal, travailler ensemble dans le même sens dans un but précis est très motivant pour moi.
                    Ma passion et mon métier me permettent de relever des défis, cela me motive à être performant et me surpasser.
                  </p>

                  <!-- <a href="" download="public/cv.pdf"><button type="button" class="btn btn-success">Télécharger mon CV</button></a> -->

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

