<!--==========================
  Clients Section
============================-->
<!--
<section id="clients" class="wow fadeInUp">
    <div class="container">

        <header class="section-header">
            <h3>Blog</h3>
        </header>

        <div class="owl-carousel clients-carousel">
            <img src=" {# {{   asset('build/img/clients/Symfony.png') }} #}" alt="">
            <img src=" {# {{asset('build/img/clients/React.png') }} #}" alt="">
        </div>
    </div>
</section>

-->