<!--==========================
  Clients Section
============================-->
<section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img src="{{ asset('build/img/clients/me.jpg') }}" class="img-fluid rounded-circle b-shadow-a" alt="">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p><span class="title-s">Nom : </span> <span>Yohann Durand</span></p>
                      <p><span class="title-s">Profile: </span> <span>Back-end Developer </span></p>
                      <p><span class="title-s">Email: </span> <span>yohanndurand76@gmail.com</span></p>
                      <p><span class="title-s">Téléphone : </span> <span>06 61 43 78 56</span></p>
                    </div>
                  </div>
                </div>
                <div class="skill-mf">
                  <strong> <p class="title-s">Skill</p>  </strong>
                  <span>Dev'Ops</span> <span class="pull-right">60%</span>

                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>

                  <span>PHP</span> <span class="pull-right">95%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>

                  <span>Symfony</span> <span class="pull-right">92%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 92%" aria-valuenow="92" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>

                  <span>Javascript & React.js</span> <span class="pull-right">50%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>

				  <span>Data Analyze</span> <span class="pull-right">75%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>

                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      About me
                    </h5>
                  </div>
                  <p class="lead">
                    Dans la programmation informatique et en général je suis super motivé.
                    Trés énergique et enthousiasme de nature je suis un élément parfaits
                    pour rejoindre vos equipes.
                  </p>

                  <p class="lead">
                    Mon parcours dans l'informatique ma rendu trés autonomne pour accomplire une mission.
                    Vous pouvez compter sur moi pour faire fructifier vos projets, tout est réalisable.
                    Vous pouvez télécharger mon CV pour en savoir plus sur moi.
                  </p>

                  <p class="lead">
                    Quand le temps me le permet, j'aime aidée d'autre développeur et travailler sur des projets open source.
                    Cela aide à faire grandir une communauté et aidée a faire avancé la technologie.
                  </p>

                  <p class="lead">
                    Si j'intégre votre équipe, je donnerai le meilleurs de moi pour aller dans un but précis.
                    La bonne humeur est toujour présente quand j'ai une mission.
                  </p>

                  <!-- <a href="" download="public/cv.pdf"><button type="button" class="btn btn-success">Télécharger mon CV</button></a> -->

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

