<!--==========================
Facts Section
============================-->
<section id="facts"  class="wow fadeIn">
    <div class="container">

        <header class="section-header">
            <h3>Quelques Nombres sur git</h3>
            <p>Ces informations qui provienne de Github vous donnes quelques chiffre concernant mon activité sur ce réseau.
                <a class="cta-btn" href="https://github.com/Yohann76">Github</a> </p>
        </header>

        <div class="row counters">

            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">15</span>
                <p>Repository</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">8</span>
                <p>Contribution OpenSource (commit)</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">25</span>
                <p>Projet Réalisé</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">2017</span>
                <p>Membres depuis</p>
            </div>
            <br/>
        </div>

    </div>
</section><!-- #facts -->