<!--==========================
Formation
============================-->
<section id="about">
    <div class="container">

        <header class="section-header">
            <h3>Formation</h3>
            <p>Mon parcours m'a permis de développer un certain nombres de compétences dans le domaine de l'informatique et plus précisement dans le domaine de la programmation </p>
        </header>

        <div class="row about-cols">
            <div class="col-md-6 wow fadeInUp">
                <div class="about-col">
                    <div class="img">
                        <img src="{{ asset('build/img/maupassant.jpg') }}" alt="" class="img-fluid">
                        <div class="icon"><i class="fa fa-instagram"></i></div>
                    </div>
                    <h2 class="title"><a href="#">BAC STI2D</a></h2>
                    <p>
                        Aprés un stage de 3iem dans le developpement informatique, je me suis orienté vers un BAC technologique Science Technique option Systeme de l'information du numérique pour en apprendre Davantage sur la programmation.
                    </p>
                </div>
            </div>

            <div class="col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="about-col">
                    <div class="img">
                        <img src="{{ asset('build/img/edwardBranly.jpg') }}" alt="" class="img-fluid">
                        <div class="icon"><i class="fa fa-instagram"></i></div>
                    </div>
                    <h2 class="title"><a href="#">BTS Science Numérique</a></h2>
                    <p>
                        Une premiére année de BTS réussi qui m'a apporter des connaissance théorique dans le domaine, malheureusement pas assez de pratique pour ce BTS, c'est pourquoi j'ai décider de m'orienté vers Openclassroom pour poursuivre ma formation.
                    </p>
                </div>
            </div>

            <div class="col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="about-col">
                    <div class="img">
                        <img src="{{ asset('build/img/DiplomeDWJ.PNG') }}" alt="" class="img-fluid">
                        <div class="icon"><i class="fa fa-instagram"></i></div>
                    </div>
                    <h2 class="title"><a href="#">Développeur intégrateur en réalisation d'application web ( Titre de niveau 3 inscrit au RNCP )   </a></h2>
                    <p>
                        OpenClassRooms ma permis d'apprendre énormément de chose et de compétance pratique dans la programmation informatique. Dans cette formation j'ai eu un mentor trés compétant qui ma permis d'atteindre un niveau excellent.
                    </p>
                </div>
            </div>

            <div class="col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="about-col">
                    <div class="img">
                        <img src="{{ asset('build/img/DiplomeDWJ.PNG') }}" alt="" class="img-fluid">
                        <div class="icon"><i class="fa fa-instagram"></i></div>
                    </div>
                    <h2 class="title"><a href="#">Développeur D'application Web PHP/Symfony ( Titre de niveau 4 inscrit au RNCP )   </a></h2>
                    <p>
                        OpenClassRooms ma permis d'apprendre énormément de chose et de compétance pratique dans la programmation informatique. Dans cette formation j'ai eu un mentor trés compétant qui ma permis d'atteindre un niveau excellent.
                    </p>

                </div>
            </div>
        </div>

    </div>
</section><!-- #about -->
