<!--==========================
Services Section
============================-->
<section id="services">
    <div class="container">

        <header class="section-header wow fadeInUp">
            <h3>Services</h3>
            <p>Je vous présente ici un certain nombres de choses que je peux éffectuer suite à ma formation</p>
        </header>

        <div class="row">

            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                <div class="icon"><i class="fa fa-angle-right"></i></div>
                <h4 class="title">Intégration de Design Web</h4>
                <p class="description">Intégrer une maquette graphique sur un site web</p>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                <div class="icon"><i class="fa fa-angle-right"></i></div>
                <h4 class="title">Evaluer et expértiser un projet déja existant</h4>
                <p class="description">Analysé et reprendre un projets déja existant, améliorer la performance ou la sécurité</p>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                <div class="icon"><i class="fa fa-angle-right"></i></div>
                <h4 class="title">Construction d'un site de A a Z.</h4>
                <p class="description">Choisir les technologies adapté pour repondre à un besoins précis jusqu'au moindre details ( SEO , Sécurité , UX , Performance .. ) </p>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="icon"><i class="fa fa-angle-right"></i></div>
                <h4 class="title">Construction d'une base de données</h4>
                <p class="description">Construire une base de données pertinante pour améliorer la performance et la gestion d'informations</p>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="icon"><i class="fa fa-angle-right"></i></div>
                <h4 class="title">Deploiyer un site ou un application</h4>
                <p class="description">Deployer de facon rapide et automatisé un site, Gestion de l'intégration continue.</p>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="icon"><i class="fa fa-angle-right"></i></div>
                <h4 class="title">Apprendre d'avantage</h4>
                <p class="description">Ma formation ma également appris à apprendre, je peux désormais etre autonome dans l'apprentissage de nouvelle technologies</p>
            </div>

        </div>

    </div>
</section><!-- #services -->

<!--==========================
Call To Action Section
============================-->

<!--
<section id="call-to-action" class="wow fadeIn">
    <div class="container text-center">
        <h3>Mon CV</h3>
        <p> Pour me connaitre d'avantage, je vous invite a télécharger mon CV, ou bien vous rendre sur mon profils Linkedin ou github. </p>
        <a class="cta-btn" href="#">CV</a>
        <a class="cta-btn" href="https://www.linkedin.com/in/yohann-durand">Linkedin</a>
        <a class="cta-btn" href="https://github.com/Yohann76">Github</a>
        <a class="cta-btn" href="https://connect.symfony.com/profile/yohann-durand">SymfonyConnect</a>
    </div>
</section>

-->

<!-- ==========================
  Skills Section
============================-->
<!--


<section id="skills">
    <div class="container">
        <header class="section-header">
            <h3>Mes compétences</h3>
            <p>Une estimation des compétences que je maitrise, cela vous donne un ordre d'idées de mes spécialités</p>
        </header>

        <div class="skills-content">

            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                    <span class="skill">PHP - Symfony - MySQL - API <i class="val">80%</i></span>
                </div>
            </div>

            <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                    <span class="skill">JavaScript - React <i class="val">50%</i></span>
                </div>
            </div>

            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                    <span class="skill">Déploiement - Linux - Docker <i class="val">75%</i></span>
                </div>
            </div>

            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                    <span class="skill">Github - Gitlab <i class="val">100%</i></span>
                </div>
            </div>

        </div>

    </div>
</section>

-->