{# extends 'base.html.twig' #}

<!-- To Do : Create laboratory base Yohann --> 
<!-- To Do : Nav = laboratory, docs ....  --> 

{% block body %}

<div class="container-dashboard">

    <div class="container">
    <p> Hello laboratory </p>
    </div>

</div>


{% endblock %}
