{% extends 'base_laboratory.html.twig' %}

{% block title %} Labo {% endblock %}

{% block stylesheets %}


    <link href="{{ asset('img/favicon.png') }}" rel="icon"> 

{% endblock %}

{% block body %}

    <div class="container-laboratory">

        <div class="container">
        <p> Hello laboratory </p>
        </div>

    </div>

{% endblock %}


{% block javascripts %}

   <!--  <script src="js/main.js"></script> -->
   <script>
   console.log("hello laboratory");
   </script>
    
{% endblock %}
